/* PageFly Element Styles */
					.jlktRu__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jlktRu { padding: 15px 0px; position: relative; }
.jlktRu .sc-gtfDJT { position: relative; }
.jlktRu[data-container="true"] .sc-gtfDJT { padding: 0px 15px; width: 100%; margin: auto; }
.jlktRu .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.ewVHJT { margin: 0px -15px; }
.lgliwA { position: relative; }
.lxEts > a { color: inherit !important; }
.lxEts > span { font-weight: inherit; text-decoration: inherit; }
.lxEts { word-break: break-word; }
.lxEts.pf-i--left i { margin-right: 0.3em; }
.lxEts.pf-i--right i { margin-left: 0.3em; }
.lxEts.pf-i--top i { margin-bottom: 0.5em; }
.lxEts.pf-i--top > span, .lxEts.pf-i--top > a { display: block; }
.lxEts.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.lxEts [class*="--diamond"] { margin-right: 1em; }
.bUByoE { display: inline-block; }
.bUByoE[contenteditable="true"] { user-select: text; }
.bUByoE { vertical-align: baseline; word-break: break-word; }
.bUByoE:focus { outline: none; }
.bUByoE::after { display: inline; }
.ivGdgL > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .ivGdgL[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .ivGdgL[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.ivGdgL[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.ivGdgL[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.ivGdgL.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.ivGdgL.dropcap--circle > span:first-child { border-radius: 100%; }
.ivGdgL:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.ivGdgL ol, .ivGdgL ul { list-style-position: inside; }
.ivGdgL blockquote { font-size: inherit; }
.eXSIPN[draggable="true"] video { pointer-events: none; }
.jlEwmN > a { color: inherit !important; }
.jlEwmN > span { font-weight: inherit; text-decoration: inherit; }
.jlEwmN { word-break: break-word; }
.jlEwmN.pf-i--left i { margin-right: 0.3em; }
.jlEwmN.pf-i--right i { margin-left: 0.3em; }
.jlEwmN.pf-i--top i { margin-bottom: 0.5em; }
.jlEwmN.pf-i--top > span, .jlEwmN.pf-i--top > a { display: block; }
.jlEwmN.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.jlEwmN [class*="--diamond"] { margin-right: 1em; }
.gnWYnj { position: relative; }
.iCGEPP { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.iCGEPP img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.VyJET { display: inline-flex; vertical-align: middle; }
.VyJET picture { width: 100%; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-2d3351f8 {
		color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 font-weight: 700;
		 font-size: 48px;
		 line-height: 1;
		 margin: 0px -30px 5px 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
	}
	[data-pf-type="Heading"].pf-0015c6f7 {
		font-size: 30px;
		 font-family: Montserrat;
		 font-weight: 300;
		 line-height: 1;
		 margin: 0px 0px 20px;
		 letter-spacing: 0px;
		 color: rgb(0, 0, 0);
	}
	[data-pf-type="Paragraph"].pf-124cd906 {
		color: rgb(0, 0, 0);
		 line-height: 24px;
		 font-size: 14px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: justify;
		 padding-top: 10px;
		 padding-bottom: 15px;
		 margin-right: -10px;
	}
	[data-pf-type="Video"].pf-0a1cf8bf {
		margin-top: 0px;
		 margin-right: -50px;
		 padding-top: 12px;
		 margin-left: 25px;
	}
	[data-pf-type="Section"].pf-3e5737e4 {
		padding-bottom: 0px;
		 padding-top: 25px;
	}
	[data-pf-type="Heading"].pf-04f048ad {
		color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 font-weight: 800;
		 font-size: 36px;
		 line-height: 1;
		 margin: 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
		 text-align: center;
		 padding-bottom: 40px;
	}
	[data-pf-type="Paragraph"].pf-602c9ef9 {
		color: rgb(255, 255, 255);
		 line-height: 24px;
		 font-size: 18px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-align: center;
		 border-style: none;
		 font-weight: 600;
	}
	[data-pf-type="Column"].pf-ac81ada7 {
		text-align: center;
	}
	[data-pf-type="Row"].pf-c3309916 {
		padding-right: 195px;
		 padding-left: 195px;
	}
	[data-pf-type="Section"].pf-03acd484 {
		background-color: rgb(0, 0, 0);
		 padding-left: 0px;
		 margin-left: -55px;
		 margin-right: -55px;
		 padding-bottom: 20px;
		 padding-top: 20px;
	}
	[data-pf-type="Heading"].pf-37e0f3dd {
		color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 font-weight: 700;
		 font-size: 36px;
		 line-height: 1;
		 margin: 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
		 text-align: center;
	}
	[data-pf-type="Row"].pf-c58d8b9b {
		margin-bottom: 0px;
		 padding-top: 20px;
	}
	[data-pf-type="Paragraph"].pf-61486119 {
		color: rgb(0, 0, 0);
		 line-height: 24px;
		 font-size: 14px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: justify;
		 padding-top: 20px;
	}
	[data-pf-type="Row"].pf-350fb1fa {
		margin-bottom: 10px;
	}
	[data-pf-type="Heading"].pf-8d2958a9 {
		color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 font-weight: 700;
		 font-size: 36px;
		 line-height: 1;
		 margin: 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
		 text-align: center;
		 padding-bottom: 40px;
	}
	[data-pf-type="Paragraph"].pf-6ced63f0 {
		color: rgb(0, 0, 0);
		 line-height: 24px;
		 font-size: 14px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: justify;
		 padding-top: 0px;
		 padding-right: 20px;
	}
	[data-pf-type="Heading"].pf-ff2b72d5 {
		color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 font-weight: 700;
		 font-size: 36px;
		 line-height: 1;
		 margin: 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
		 text-align: center;
		 padding-bottom: 40px;
	}
	[data-pf-type="Paragraph"].pf-ae6b3bb5 {
		color: rgb(0, 0, 0);
		 line-height: 24px;
		 font-size: 14px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 text-align: justify;
		 padding-left: 20px;
	}
	[data-pf-type="Column"].pf-595c8452 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-6f48fb82 {
		padding-top: 20px;
	}
	[data-pf-type="Heading"].pf-6eb24428 {
		color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 font-weight: 700;
		 font-size: 36px;
		 line-height: 1;
		 margin: 0px;
		 letter-spacing: 0px;
		 text-transform: uppercase;
		 text-align: center;
		 padding-bottom: 30px;
	}
	[data-pf-type="Image"].pf-858de2a3 {
		margin-right: 10px;
		 width: 120px;
	}
	[data-pf-type="Column"].pf-644f29af {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-59befe3d {
		color: rgb(0, 0, 0);
		 line-height: 24px;
		 font-size: 14px;
		 font-family: Montserrat;
		 letter-spacing: 0px;
		 margin-top: 0px;
		 text-align: center;
		 margin-bottom: 0px;
	}
	[data-pf-type="Section"].pf-50a95cfb {
		padding-top: 0px;
		 padding-bottom: 55px;
	}
	[data-pf-type="List"].pf-f6293836 {
		list-style-position: inside;
		 list-style-type: decimal;
	}
	[data-pf-type="Progress"].pf-5b8f8bcc {
		text-align: center;
	}
	[data-pf-type="Progress"].pf-d4c50518 {
		text-align: center;
	}
	[data-pf-type="Progress"].pf-63c07ef2 {
		text-align: center;
	}
	[data-pf-type="Accordion"].pf-63d50dfe > .accordion__item {
		margin-bottom: 10px;
		 border-style: solid;
		 border-width: 1px;
		 border-color: rgb(235, 235, 235);
		 border-radius: 3px;
	}
	[data-pf-type="Accordion"].pf-63d50dfe > div > .accordion__header {
		font-weight: 700;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(235, 235, 235);
		 padding: 15px;
		 font-size: 16px;
		 color: black;
	}
	[data-pf-type="Icon"].pf-6a1ef41c {
		font-size: 1.7em;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Row"].pf-c3309916 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	[data-pf-type="Section"].pf-03acd484 {
		padding-bottom: 15px;
		 padding-top: 15px;
	}
	[data-pf-type="Heading"].pf-37e0f3dd {
		font-size: 24px;
	}
	[data-pf-type="Row"].pf-c58d8b9b {
		margin-bottom: 0px;
	}
	[data-pf-type="Row"].pf-350fb1fa {
		margin-bottom: 0px;
	}
	[data-pf-type="Section"].pf-6f48fb82 {
		padding-top: 15px;
		 padding-bottom: 0px;
	}
	[data-pf-type="Heading"].pf-6eb24428 {
		font-size: 24px;
		 margin-bottom: 20px;
	}
	[data-pf-type="Section"].pf-50a95cfb {
		padding-top: 0px;
		 padding-bottom: 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[data-pf-type="Row"].pf-c3309916 {
		padding-left: 50px;
		 padding-right: 50px;
	}
}