<div class="cart-template">
  <div class="container">
  	{% section 'cart-template' %}  
    
  </div>  
</div>
<script src="https://cdn.pagefly.io/static/assets/pf-custom-shopify-cart.min.js" defer></script>
